/* Custom CSS */
.w100 {
    width: 100%;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.p0 {
    padding: 0px;
}

.p15 {
    padding: 15px;
}

.p30 {
    padding: 30px;
}

.m0 {
    margin: 0px;
}

.mr5 {
    margin-right: 5px;
}

.ml5 {
    margin-left: 5px;
}

.mt15 {
    margin-top: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.ebtn {
    color: #fff;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 0px;
}

/* Dashboard css */
.body-wrapper {
    width: 100%;
    float: left;
    height: 100%;
    position: relative;
}

.body-wrapper nav {
    width: 100%;
    max-width: 25%;
    background-image: linear-gradient(180deg, #e33336,#0065d1,#f5af02,#8cba14);
    padding: 0px;
    padding-right: 10px;
    float: left;
    height: 100%;
}

.body-wrapper nav > ul {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    float: left;
    background: #fff;
}

.body-wrapper nav > ul > li {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
}

.body-content {
    width: 75%;
    float: left;
    height: 100%;
    background: #f0f0f0;
}

.body-wrapper nav > ul > li > div > span {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.body-wrapper nav > ul > li>div {
    padding: 20px 0px;
    width: 100%;
    float: left;
    cursor: pointer;
}

.body-wrapper nav > ul > li.logo > img {
    max-width: 300px;
}

.body-wrapper nav > ul > li>div:hover {
    background: #dddddd8a;
}

/* Dashboard css ends */
/*  */
@font-face {
    font-family: 'Zurich';
    src: url('./assets/fonts/ZurichBoldBT.woff2') format('woff2'), url('./assets/fonts/ZurichBoldBT.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html,body {
    height: 100%;
    width: 100%;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

a {
    color: #000000;
}

a:hover {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

a:hover {
    color: #000;
}

img {
    object-fit: cover;
    vertical-align: middle;
    -webkit-touch-callout: none;
}

input, select {
    vertical-align: middle;
}

.form-row > p {
    font-size: 12px;
}

.form-row input[type='checkbox'], .form-row input[type='radio'] {
    width: 20px;
    height: 20px;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, select:focus, textarea:focus, input[type=submit]:focus {
    outline: 0;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #9aa1ab;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #9aa1ab;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #9aa1ab;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #9aa1ab;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Zurich';
    color: #000;
}

.wrapper-login {
    overflow: hidden;
}

.content {
    background: #e53238;
    padding: 40px 115px 40px 75px;
}

.content .logo {
    margin-bottom: 35px;
}

.content .logo img {
    height: auto;
    width: auto;
}

.content h2 {
    font-size: 28px;
    color: #fff;
}

.content .banner-img {
    margin-top: 110px;
}

.content .banner-img img {
    height: auto;
    width: auto;
}

.login-form-holder {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.login-form {
    max-width: 550px;
    margin: auto;
}

.login-form h4 {
    font-size: 36px;
    margin-bottom: 35px;
}

.login-form label {
    display: block;
    font-size: 18px;
}

.login-form input[type='number'],.login-form input[type='text'],.login-form input[type='password'],.login-form input[type='date'],.login-form select {
    background: #c2c2c2;
    border: 0;
    border-radius: 0;
    padding: 25px 15px;
    font-size: 18px;
}

.login-form input:focus {
    outline: none;
    box-shadow: none;
    background: #c2c2c2;
}

.login-form .btn {
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 8px;
    padding: 12px 100px;
}

.payment-form .btn {
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 8px;
    padding: 12px 100px;
}

.btn-red {
    background: #e53238;
}

.btn-blue {
    background: #0064d3 !important;
}

.btn-grey {
    background: #c2c2c2;
}

.login-form .subscription-text {
    font-size: 18px;
    margin-top: 55px;
}

.login-form .subscription-text span {
    color: #e53238;
}

.login-form .forgot-password-holder {
    position: relative;
}

.login-form .forgot-password-holder a {
    display: block;
    color: #e53238;
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
}

.margin-b-div{
    margin-bottom: 40px;
    width: 100%;
}

/* media queries */
@media screen and (max-width: 991px) {
    .content {
        padding: 40px;
    }

    .content h2 {
        font-size: 22px;
    }

    .login-form {
        max-width: 350px;
    }
}

@media screen and (max-width: 767px) {
    .content {
        padding: 40px 25px;
        text-align: center;
    }

    .login-form-holder {
        padding: 50px 0;
        top: initial;
        left: initial;
        transform: initial;
    }

    .login-form h4 {
        font-size: 30px;
    }

    .login-form {
        max-width: 100%;
        padding: 0 30px;
    }

    .content .logo img {
        width: 200px;
    }
}
