<div class="content {{color}}">
    <div class="logo">
        <img src="../../../assets/images/logo-white.png" class="img-fluid" alt="image">
    </div>
    <h2>
        Create to post in 3 easy steps.
        High quality Pre-made or custom tempaltes for eBay Sellers.
    </h2>
    <div class="banner-img" *ngIf="color == 'blue'">
        <img src="../../../assets/images/login-banner-img.png" class="img-fluid" alt="image">
    </div>
    <div class="banner-img" *ngIf="color == 'red'">
        <img src="../../../assets/images/login-banner-img-red.png" class="img-fluid" alt="image">
    </div>
</div>