<nav>
    <ul>
        <li class="logo"><img src="../../../assets/images/logo.png"></li>
        <li>
            <div routerLink="">
                <img src="../../../assets/images/dashboard.png">
                <span>Dashboard</span>
            </div>
        </li>
        <li>
            <div routerLink="/company-profile">
                <img src="../../../assets/images/profile.png">
                <span>Company Profile</span>
            </div>
        </li>
        <li>
            <div routerLink="/product-templates">
                <img src="../../../assets/images/templates.png">
                <span>Product Template</span>
            </div>
        </li>
        <li>
            <div routerLink="settings">
                <img src="../../../assets/images/settings.png">
                <span>Settings</span>
            </div>
        </li>
    </ul>
</nav>